// common styles
*
    box-sizing: border-box
html, body
    height: 100%
    margin: 0
ul
    margin: 0
    padding-left: 0
h1, h2, h3, h4, h5, h6
    margin-top: 0
    margin-bottom: 0
input
    font-size: inherit
    font-family: inherit
    line-height: inherit
body
    font: 14px/1.5 'Liberation Sans', sans-serif
    color: #24292e
// navigation
.nav-menu
    max-width: 1012px
    margin: 0 auto
.nav-menu__ul
    list-style: none
    display: flex
    border-bottom: 1px #e1e4e8 solid
    background: #fff
.nav-menu__li
    border-right: 1px #e1e4e8 solid
.nav-menu__a
    color: #0366d6
    text-decoration: none
    display: block
    padding: 16px
    transition: all .2s ease-in-out
.nav-menu__a:hover
    color: inherit
    background: #fafbfc
// main content part
    // header
.main-part
    background: #f3f3f3
    text-align: center
.main-part__header
    max-width: 1012px
    padding: 24px 16px 
    margin: 0 auto
.main-part__title
    font: 300 36px/1.5 Roboto
    padding: 40px 16px 0
    margin: 0
.main-part__description
    font: 300 21px/1.5 Roboto
    color: #586069
    margin: 0 auto 10px
    // cards
.cards
    padding: 0 16px 40px
    max-width: 1012px
    margin: 0 auto
    display: flex
    flex-flow: row wrap
    width: 100%
.card
    width: 100%
    margin: 24px 0 0
    padding: 0 16px
.card__a
    display: block
    background: #fff
    border-radius: 6px
    height: 100%
    border: 1px #e1e4e8 solid
.card__img
    height: 200px
    max-width: 100%
    padding: 40px 32px 16px
    vertical-align: top
.card__text-block
    padding: 24px
.card__title
    font-size: 18px
    color: #333
    font-weight: 600
    line-height: 1.25
    margin-bottom: 8px
    font-family: Roboto
.card__descr
    color: #586069
    margin-top: 0
    margin-bottom: 10px
    padding: 0 10px
// footer
footer
    border-top: 1px #e1e4e8 solid
    padding: 32px 16px 0
    text-align: center
    background-color: #fff
    max-width: 1012px
    width: 100%
    margin: 0 auto
.banners
    display: flex
    flex-wrap: wrap
.banner
    width: 100%
    padding: 32px
    margin-bottom: 24px
.banner__pic
    max-height: 50px
    margin-bottom: 16px
.banner__title
    font-size: 18px
    font-weight: 400
    margin-bottom: 16px
.banner__descr
    font-size: 16px
    margin-bottom: 16px
.banner__btn
    font-size: 14px
    border-radius: 3px
    border: 1px silver solid
    display: inline-block
    padding: 6px 12px
    color: #0366d6
    font-weight: 600
    cursor: pointer
.banner__btn:hover
    color: #fff
    background: #0366d6
    border: 0
.banner__input
    margin: 0 auto 16px
    padding: 8px 16px
    display: block
    height: 40px 
    border: 1px #e1e4e8 solid
    width: 83.3%
.info
    padding: 32px 0
    border-top: 1px #e1e4e8 solid
// media
@media (min-width: 544px)
    .nav-menu__ul
        border-bottom: 0
        justify-content: flex-end
    .nav-menu__li:first-child
        border-left: 1px #e1e4e8 solid
    .nav-menu__a
        padding: 24px
    .cards
        justify-content: center
    .card
        width: 80%
    .banner
        width: 50%
    .banner:first-child
        border-right: 1px #e1e4e8 solid
@media (min-width: 768px)
    .card
        width: 50%