.cards
    .card
        a.card__a
            img(src="https://opensource.guide/assets/images/illos/beginners.svg", alt="hands").card__img
            .card__text-block
                h3.card__title Starting an Open Source Project
                p.card__descr.
                    Learn more about the world of open source and
                    get ready to launch your own project.
    .card
        a.card__a
            img(src="https://opensource.guide/assets/images/illos/beginners.svg", alt="hands").card__img
            .card__text-block
                h3.card__title Starting an Open Source Project
                p.card__descr.
                    Learn more about the world of open source and
                    get ready to launch your own project.
