footer
    .banners
        .banner
            img(src="https://opensource.guide/assets/images/illos/squirrel.svg", alt="squirrel").banner__pic
            h2.banner__title Contribute
            p.banner__descr.
                Want to make a suggestion? This content is open source.
                Help us impruve it.
            a.banner__btn Contribute
        .banner
            img(src="https://opensource.guide/assets/images/illos/bird.svg", alt="twitter bird").banner__pic
            h2.banner__title Stay in touch
            p.banner__descr.
                Be the first to hear about GitHub's latest open source tips
                and resources.
            form
                input(type="email" placeholder="Email Address").banner__input
                input(type="submit" name="Subscribe" value="Subscribe").banner__btn
    .info