header.main-part__header
    h1.main-part__title Open Source Guides
    p.main-part__description.
        Open source software is made by people just like you.
        Learn how to launch and grow your project.
